<connectionStrings>
  <add name="yafnet" connectionString="Data Source=.\SQLExpress;Database=YAFNET457;uid=YAFDB457;Pwd=Z3VyK##[y!qK;" />
  <add name="conStr" connectionString="Data Source=ALBERTOSAM-PC;Initial Catalog=BrazukaScript;Integrated Security=True;User ID=ALBERTOSAM-PC\AlbertoSam;Password=;"
      providerName="System.Data.SqlClient"/>
  <add name="state" connectionString="Data Source=ALBERTOSAM-PC;Trusted_Connection=yes"/>
</connectionStrings>