<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" requirePermission="false" />
  </configSections>
  <connectionStrings configSource="db.config" />
  <appSettings configSource="app.config" />
  <rewriter configSource="URLRewriter.config" />
  <system.net>
    <mailSettings>
      <smtp configSource="mail.config" />
    </mailSettings>
  </system.net>
  <location path="Arquivo.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <system.web>
    <!--Gerado o machineKey por mim-->
    <machineKey validationKey="E5416C2B8DD06EEA2AF3E9EF4EF2C5099B61F89BC3BC0719B6466CC0FB44422093A0BFB1C461D4FF232E73F147DAD527CFC92C7F4C86D217B3757A378232F4B7" decryptionKey="F626934463FE1199FCD0586C256A9525D6D92085923D5358D1DC828156F1DA63" validation="SHA1" decryption="AES" />
    <trace enabled="false" />
    <xhtmlConformance mode="Transitional" />
    <customErrors defaultRedirect="Default.aspx" mode="On" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <authentication mode="Forms">
      <forms name=".YAFNET_Authentication" protection="All" timeout="43200" cookieless="UseCookies" />
    </authentication>
    <!-- Set debug to "true" to test out the system in development -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2" />
    </httpHandlers>
    <httpModules>
      <add name="YafTaskModule" type="YAF.Classes.Core.YafTaskModule, YAF.Classes.Core" />
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" />
    </httpModules>
    <pages validateRequest="false" smartNavigation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="DotNetAge" namespace="DNA.UI.JQuery" assembly="DNA.UI.JQuery" />
        <add tagPrefix="DotNetAge" namespace="DNA.UI" assembly="DNA" />
        <!-- Default: use non-dynamic (compiled classes) in YAF -->
        <add tagPrefix="YAF" namespace="YAF.Classes.UI" assembly="YAF.Classes.UI" />
        <add tagPrefix="YAF" namespace="YAF.Classes.Utils" assembly="YAF.Classes.Utils" />
        <add tagPrefix="YAF" namespace="YAF.Classes.Core" assembly="YAF.Classes.Core" />
        <add tagPrefix="YAF" namespace="YAF.Classes.Data" assembly="YAF.Classes.Data" />
        <add tagPrefix="YAF" namespace="YAF.Controls" assembly="YAF.Controls" />
        <add tagPrefix="YAF" namespace="YAF.Controls.Statistics" assembly="YAF.Controls" />
        <!-- Optional: use dynamic classes in YAF by moving all the YAF.x directories (YAF.Classes.*, YAF.Providers)
            into the App_Code\YAF directory. Delete the associated .dll files from the \bin directory. Comment out the above 
            "non-dynamic" namespaces above and enable these: 
        -->
        <!--add tagPrefix="YAF" namespace="YAF.Classes.UI" />
        <add tagPrefix="YAF" namespace="YAF.Classes.Utils" />
        <add tagPrefix="YAF" namespace="YAF.Classes.Data" />
        <add tagPrefix="YAF" namespace="YAF.Controls" />
        <add tagPrefix="YAF" namespace="YAF.Classes.Core" />
        <add tagPrefix="YAF" namespace="YAF.Controls.Statistics" /-->
        <add tagPrefix="YAF" namespace="YAF.Classes" />
        <add tagPrefix="YAF" namespace="YAF" />
      </controls>
      <namespaces>
        <add namespace="YAF" />
        <add namespace="YAF.Classes.UI" />
        <add namespace="YAF.Classes.Utils" />
        <add namespace="YAF.Classes.Core" />
        <add namespace="YAF.Controls" />
        <add namespace="YAF.Classes.Data" />
      </namespaces>
    </pages>
    <roleManager enabled="true" defaultProvider="YafRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="yafnet" applicationName="YetAnotherForum" name="YafRoleProvider" type="YAF.Providers.Roles.YafRoleProvider" />
      </providers>
    </roleManager>
    <membership defaultProvider="YafMembershipProvider" hashAlgorithmType="SHA1">
      <providers>
        <clear />
        <add connectionStringName="yafnet" applicationName="YetAnotherForum" name="YafMembershipProvider" requiresUniqueEmail="true" useSalt="true" type="YAF.Providers.Membership.YafMembershipProvider" />
      </providers>
    </membership>
    <profile enabled="true" defaultProvider="YafProfileProvider" inherits="YAF.Classes.Utils.YafUserProfile">
      <providers>
        <clear />
        <add connectionStringName="yafnet" applicationName="YetAnotherForum" name="YafProfileProvider" type="YAF.Providers.Profile.YafProfileProvider" />
      </providers>
    </profile>
    <sessionState mode="InProc" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="YafTaskModule" />
      <remove name="UrlRewriter" />
      <add name="YafTaskModule" type="YAF.Classes.Core.YafTaskModule, YAF.Classes.Core" preCondition="managedHandler" />
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="AjaxPro" verb="POST,GET,HEAD" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2" />
    </handlers>
  </system.webServer>
  
</configuration>